.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  @media only screen and (max-width: 599px) {
    flex-direction: column;
  }

  align-items: flex-start;
}

.featured-icons {
  width: 20%;
  padding-left: 0.1rem;

  @media only screen and (max-width: 599px) {
    order: 1;
    padding-bottom: 1rem;
  }
}

.header-content {
  @media only screen and (max-width: 599px) {
    order: 2;
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.tag-list li {
  padding: 0.1rem 0.4rem;
  background-color: rgba(75, 73, 73, 0.187);
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  color: rgba(51, 51, 51, 0.667);
  border-radius: 1px;
  font-size: 0.8rem;
}

.post-meta span {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.763);
  display: block;
  margin-bottom: 1rem;
}

// Additional CSS added for styling markdown component if the styles of content layout fails to do!

.post-wrapper {
  .mdx-wrapper {
    ul li {
      font-size: 1.1rem;
      list-style-type: disc;
      margin-left: 2rem;
    }
    ol li{
      margin-left:.9rem;
      margin-bottom: .6rem;
      // font-weight: 500;
    }
  }
}
