.project-mdx-wrapper {
  ul {
    // background-color: green;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
  }
  li {
    list-style-type: disc;
  }
}
.header {
  line-height: 1;
  background-color: #f5f5ff;
  border-left: 3px solid #afadad;
  padding: 1rem;
  margin-left: -1rem;

  h1 {
    margin-bottom: 0;
  }
  .title {
    color: #5c257f;
    font-weight: bold;
    text-transform: uppercase;
  }
  .date {
    text-transform: uppercase;
    color: #5c257f;
    font-size: 80%;
  }
}
.back-button {
  margin-top: 3rem;
  i {
    font-style: normal;
    position: relative;
    top: 3px;
    margin-right: 0.5rem;
  }
}
