.wrapper {
  color: rgb(223, 212, 212);
  padding: 1rem 1rem 1.5rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgb(26, 116, 173);
  background: linear-gradient(
    30deg,
    rgba(26, 116, 173, 1) 0%,
    rgba(92, 37, 127, 1) 100%
  );

  @media only screen and (max-width: 599px) {
    flex-direction: column;
    padding: 1.3rem;

    .content-wrapper {
      width: 100%;
    }

    .image-wrapper {
      margin-top: -4.5rem;
      margin-left: -3rem;
      text-align: center;
      img {
        display: inline-block;
      }
    }
  }
}

.image-wrapper {
  width: 15%;
  border-radius: 100%;
  padding-right: 1rem;

  img {
    border-radius: 100%;
    border: 1px solid rgb(220, 220, 220);
  }
}

.content-wrapper {
  width: 80.5%;
  line-height: 1.6;
  font-size: 1.05rem;
  em {
    font-weight: 700;
  }

  .support-section {
    display: flex;
  }
}
