.wrapper {
  background-color: rgb(241, 241, 241);
  padding: 0rem 1rem 1rem;
  border: 1px solid rgb(184, 182, 182);
  color: #333;
  line-height: 1.5;
  text-align: center;

  h2 {
    font-weight: 900;
    font-size: 2rem;
  }

  input[type='email'] {
    width: 450px;
    max-width: 100%;
    font-size: 0.9rem;
    padding-right: 120px;
    color: #5c257f;
    @media (max-width: 567px) {
      width: 320px;
    }
    @media (max-width: 370px) {
      width: 280px;
    }
  }

  button {
    font-size: 0.9rem;
    background-color: #5c257f;
    color: white;
    letter-spacing: 1px;
    // line-height:1.5;
    text-transform: uppercase;
    margin-top: 0.2rem;
    padding: 0.8rem 1rem;
    border-radius: 3px;
    border: none;
    margin-left: 0.3rem;
    display: inline-block;

    &:hover {
      background-color: #6b358d;
      transition: background-color 0s ease;
    }

    @media (max-width: 567px) {
      width: 320px;
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}
