@import url('https://fonts.googleapis.com/css?family=Parisienne|Source+Sans+Pro:300,400,500,600,700,900&display=swap|Roboto:100,300,400,500,700,900&display=swap');

@import url(./reset.scss);

/*--------------------------------------------------------------
## Some Global Styling
--------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #d9d8da;
$color__border-abbr: #666;

$color__brand: #5c257f;
$coolor__brand: #c4c3c4;
$color__brandSecond: #f0f0f0;

// font

$font__main: 'Source Sans Pro', serif;
$font__title: 'Merriweather', serif;
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

//Mixins
@mixin transition($value) {
  transition: all $value ease-in-out;
}
@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

body {
  font-size: 100%;
}

.main {
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: $font__line-height-body;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Enabling Flex
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.box-button {
  padding: 0.6rem 2rem;
  display: inline-block;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  background-color: #5c257f;
  border: 1px solid #d3d3d3;
  text-decoration: none !important;
  border-radius: 0.3rem;
  font-weight: 600;
  color: rgb(255, 255, 255) !important;
  // letter-spacing: 1px;

  &:hover {
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px #6b358d;
    background-color: #6b358d;
    transition: box-shadow 0.3s ease, border 0.3s ease, background 0.3s ease;
  }
  &:hover {
    // color: #fff;
    // background-color: #5c257f;
    // text-decoration: none;
    // border-color: #5c257f;
  }
  @media (max-width: 991px) {
    padding: 0.5rem 1.25rem;
  }
}

// main > header:first-child h1 {
//   font-size: 28px;
// }

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea {
  color: $color__text-input;
  border: 1px solid $color__border-input;
  border: 1px solid #d9d8da;
  padding: 0.8rem 1rem;
  font-weight: 300;
  border-radius: 2px;
  letter-spacing: 1px;
  @include transition(0.2s);
  &:focus {
    color: $color__text-input-focus;
    border-color: #5c257f;
    box-shadow: none;
    outline: none;
    color: #5c257f;
  }
}
input[type='submit'],
button {
  cursor: pointer;
}

form {
  label {
    width: 100%;
    font-size: inherit;
    display: block;
    color: #333;
    font-family: $font__main;
  }
}

select {
  border: 1px solid $color__border-input;
}

textarea {
  width: 100%;
}

//Table Code for markdown
table {
  padding: 0;
  width: 100%;
}

table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
  background-color: rgb(62, 62, 62);
  color: #fff;
}
table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}
table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}

// Others

em {
  font-weight: 600;
  font-style: inherit;
}

// List Styling

// line highlight
.gatsby-highlight-code-line {
  background-color: rgb(89, 89, 89);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 3px solid #fff;
}

.gatsby-highlight pre[class*='language-'] {
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

/**
 * If you already use line highlighting
 */

/* Adjust the position of the line numbers */
.gatsby-highlight pre[class*='language-'].line-numbers {
  padding-left: 2.8em;
}

/**
 * If you only want to use line numbering
 */

.gatsby-highlight {
  font-size: 0.8rem;
  background-color: #272822;
  border-radius: 0.2rem;
  margin: 0rem 0 2.5rem;
  padding: 1em;
  overflow: auto;
}

.gatsby-highlight pre[class*='language-'].line-numbers {
  padding: 0;
  padding-left: 2.8em;
  overflow: initial;
}

// Line highlighting for inline - custom code

em code {
  font-size: 1rem;
  color: #333 !important;
  font-weight: 400;
  background-color: rgb(240, 240, 240) !important;
  border: 1px solid rgb(193, 193, 193) !important;
  padding: 0.1rem 0.3rem !important;
  display: inline-block !important;
  border-radius: 1px !important;
  font-family: monospace !important;
}

// Code for shell prompt

.command-line-prompt > span:before {
  color: #999;
  content: ' ';
  display: block;
  padding-right: 0.8em;
}

/* Prompt for all users */
.command-line-prompt > span[data-user]:before {
  content: '[' attr(data-user) '@' attr(data-host) '] $';
}

/* Prompt for root */
.command-line-prompt > span[data-user='root']:before {
  content: '[' attr(data-user) '@' attr(data-host) '] #';
}

.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt);
}

// Gatsby-remark-code-titles css

.gatsby-code-title {
  margin-bottom: -0.6rem;
  padding: 0.2rem 1em 0.8rem;
  font-family: inherit;
  background-color: #000000;
  color: white;
  font-weight: 700;
  z-index: 0;

  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
