@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Parisienne|Roboto+Slab:100,200,300,400,500,600,700,800,900|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap');


@import url(./reset.scss);

/*--------------------------------------------------------------
## Some Global Styling
--------------------------------------------------------------*/
*{
    box-sizing: border-box;
}

body{
    font-size:30px;
}
.main{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size:16px;
    line-height: 1.6;
    color:rgb(58, 61, 61);

    // Enabling Flex
    display:flex;
    flex-wrap: wrap;
}



h1{
       font-family: 'Merriweather', serif;
       font-weight: 700;
       font-size:5rem;
}

a{
    text-decoration: none;
    color:inherit;
}




