@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Parisienne|Roboto+Slab:100,200,300,400,500,600,700,800,900|Source+Sans+Pro:200,200i,300,300i,400,400i,500,500i600,600i,700,700i,900,900i&display=swap");

@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap");

// @import url('http://css.wikidot.com/cssnippet:better-code-blocks/code_');

@import url(./reset.scss);

/*--------------------------------------------------------------
## Some Global Styling
--------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #d9d8da;
$color__border-abbr: #666;

$color__brand: #5c257f;
$color__brandSecond: #f0f0f0;

// font

$font__main: "Source Sans Pro", serif;
$font__title: "Merriweather", serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

//Mixins
@mixin transition($value) {
  transition: all $value ease-in-out;
}
@mixin placeholder {
  @include optional-at-root("::-webkit-input-placeholder") {
    @content;
  }

  @include optional-at-root(":-moz-placeholder") {
    @content;
  }

  @include optional-at-root("::-moz-placeholder") {
    @content;
  }

  @include optional-at-root(":-ms-input-placeholder") {
    @content;
  }
}

body {
  font-size: 16px;
}
.main {
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Enabling Flex
  display: flex;
  flex-wrap: wrap;
}

.test {
  .gatsby-highlight-code-line {
    background-color: #feb;
    display: block;
    margin-right: -1em;
    margin-left: -1em;
    padding-right: 1em;
    padding-left: 0.75em;
    border-left: 0.25em solid #f99;
  }
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 5rem;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.box-button {
  border: 1px solid rgb(217, 216, 218);
  padding: 0.8rem 2rem;
  display: inline-block;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 2px;
  letter-spacing: 2px;
  @include transition(0.2s);
  &:hover {
    color: #fff;
    background-color: #5c257f;
    text-decoration: none;
    border-color: #5c257f;
  }
  &.solid {
    color: #fff;
    background-color: #5c257f;
    text-decoration: none;
    border-color: #5c257f;
    &:hover {
      color: #333;
      border-color: rgb(217, 216, 218);
      background-color: transparent;
    }
  }
}

main > header:first-child h1 {
  font-size: 28px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: $color__text-input;
  border: 1px solid $color__border-input;
  border: 1px solid #d9d8da;
  padding: 0.8rem 1rem;
  font-weight: 400;
  border-radius: 2px;
  letter-spacing: 2px;
  @include transition(0.2s);
  &:focus {
    color: $color__text-input-focus;
    border-color: #5c257f;
    box-shadow: none;
    outline: none;
    color: #5c257f;
  }
}
input[type="submit"],
button {
  cursor: pointer;
}

form {
  label {
    width: 100%;
    display: block;
    color: #333;
    font-family: $font__title;
  }
}

select {
  border: 1px solid $color__border-input;
}

textarea {
  width: 100%;
}
