@-webkit-keyframes arrowMove {
  0% {
    right: 0px;
  }
  50% {
    right: -5px;
  }
  100% {
    right: 0px;
  }
}
@keyframes arrowMove {
  0% {
    right: 0px;
  }
  50% {
    right: -5px;
  }
  100% {
    right: 0px;
  }
}

.projects {
  // background-color:red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1.5;
  cursor: pointer;

  @media (max-width: 500px) {
    flex-direction: column;

    .project-item {
      width: 100% !important;
    }
  }
  .project-item {
    background-color: #ffffff;
    width: 48%;
    border: 1px solid #eaeaea;
    margin-bottom: 2rem;
    padding: 1.6rem 1.6rem;
    display: flex;
    border-radius: 0.3rem;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
      border: 1px solid transparent;
      box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
      transition: box-shadow 0.3s ease, border 0.3s ease;
      a {
        border-bottom: 1px solid #5c257f;
      }
    }
    .image-wrapper {
      padding: 0.5rem;
      border-bottom: 1px solid rgb(182, 177, 177);
      img {
        border-radius: 5px;
      }
    }

    h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 1.25rem !important;
      text-transform: capitalize;
      // color: #333;
      font-weight: 600 !important;
      line-height: 1.3;
      margin-top: 0rem !important;
      margin-bottom: 10px !important;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
    }

    .tools-wrapper {
      display: flex;
      flex-wrap: wrap;
      font-size: 0.8rem;
      font-weight: 500;
      justify-content: flex-start;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      li {
        margin-right: 0.5rem;
        background-color: #dfdfdf;
        margin-top: 0.4rem;
        color: #201e1e;
        padding: 0.1rem 0.5rem;
        border-radius: 2px;
      }
      img {
        width: 30px;
      }
      // border:1px solid rgb(179, 179, 179)}
    }

    .links-wrapper {
      margin-top: 1rem;
      a {
        font-size: 1rem;
        font-weight: 600;
        text-decoration: none;
        i {
          font-style: normal;
          position: relative;
          top: 3px;
        }
        &:hover {
          i {
            -webkit-animation: arrowMove 1.25s infinite;
            animation: arrowMove 1.25s infinite;
          }
          // background-color: #501583;
          // color: #fff !important;
        }
      }
    }
  }
}
