.main-header {
  color: rgb(231, 222, 236);
  width: 100%;
  position: absolute;
  z-index: 2;

  @media (max-width: 767px) {
  }
}

.header-content {
  display: flex;
  padding: 1rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 991px) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.logo-section {
  flex: auto;
}

.title {
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 1rem;
  display: flex;
}

.logo-style {
  height: 20px;
  margin-right: 5px;
  // color:white;
  // background-color:white;
  margin-top: 5px;
  // color:green;
  @media (max-width: 567px) {
    height: 25px;
  }
}
.main-header h1 {
  font-size: 2rem;
}

.main-header a {
  display: inline-block;
  // padding-bottom: 1px;

  &:hover {
    color: #d0fd9b;
    // text-decoration:underline;
  }
}

.main-header h1 a:hover {
  color: #d0fd9b;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.nav-list li {
  margin: 0rem 0.5rem;
  text-transform: uppercase;
  justify-content: space-between;
}

.activeList {
  color: #d0fd9b;
  border-bottom: 1px solid #bceca0;
}

.nav-list li:first-child {
  margin-left: 0;
}
.nav-list li:last-child {
  margin-left: 0;
  margin-right: 0rem;
}

// Media Queries -------------------------

@media only screen and (max-width: 599px) {
  .main-header {
    // background-color: #5c257f;
    //     background: rgb(92,37,127);
    // background: linear-gradient(77deg, rgba(92,37,127,1) 9%, rgba(26,116,173,1) 100%);
    position: absolute;

    // height:15rem;
  }

  .header-content {
    flex-direction: column;
    align-items: center;

    padding: 1rem 0.8rem 9rem;
  }

  .nav-list {
    justify-content: center;
    margin-top: 0.4rem;
  }

  .nav-list li {
    font-size: 1rem;
    font-weight: 600;
    padding: 0 0.4rem;
    margin: 0px;
    margin-bottom: 0.5rem;

    a {
      // background-color:red;
      border: 1px solid rgba(255, 255, 255, 0.386);
      border-radius: 2px;
      padding: 0.1rem 0.3rem;
    }
    .activeList {
      color: #333;
      background-color: white;
    }
  }
}

@media only screen and (min-width: 961px) {
  .header-content {
    width: 960px;
    margin: 0 auto;
    padding-top: 2rem;
  }
}

@media only screen and (min-width: 1120px) {
  .header-content {
    width: 1120px;
    // padding:0rem;
    padding-top: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
  }
}
