.wrapper {
  .image-wrapper {
    display: flex;
    // text-align: justify;


    .about-image {
      width: 100%;
      margin-left: 1rem;
       display: block; 
       position: absolute;
       box-shadow:1px 1px 10px black;
    }

    div {
        ol{
            padding-left: 15px;
            font-size:1.1rem;
            font-weight: 400;
            // font-style: italic;
        }
    }
  }
}
