.wrapper {
  margin-bottom: 3rem;
  // margin-left:.5rem;
  .flex-wrapper {
    display: flex;

    align-items: top;

    .image-wrapper {
      background-color: #5c257f;
      border-radius: 3px;
      padding: 1rem;
      margin-left: 0.5rem;
    }

    @media only screen and (max-width: 599px) {
      h1 {
        text-align: center;
      }

      flex-direction: column;

      align-items: center;
      .image-wrapper {
        order: 1;
        padding: 2rem;
        margin-bottom: 1.5rem;
        margin-left: 0;
        width: 100%;
        text-align: center;
      }
      p {
        order: 2;
      }
    }

    .about-image {
      height: auto;
      // margin-left: 1rem;
      display: block;
      position: absolute;
      box-shadow: 1px 1px 10px rgb(193, 190, 194);
      border: 1px solid white;
      border-radius: 100px;
    }
  }

  ul {
    padding-left: 20px;
    font-weight: 400;
    list-style-type: disc;

    li {
      margin-bottom: 0.2rem;
    }
  }
}
