.blog-wrapper {
  :hover {
    background-color: rgb(242, 242, 242);
    cursor: pointer;
    h2 {
      color: #501583;
    }
  }

  a {
    color: #333;
    text-decoration: none;
  }

  article {
    margin-bottom: 1.75rem;
    background-color: rgb(245, 245, 255);
  }

  .blog-item {
    // background-color: green;
    display: flex;

    @media only screen and (max-width: 599px) {
      padding: 1rem 0.5rem;
      // flex-direction: column;
      align-items: flex-start;
      figure {
        padding-right: 1rem;
        // order:2;
        // margin-top:-.5rem;
        // margin-left:-.5rem;
        img {
          width: 50px;
          // margin-top:.3rem;
        }
      }
    }

    @media only screen and (min-width: 600px) {
      padding: 2rem;
    }
    // flex-wrap: wrap;
    padding: 2rem 2rem;
    border: 1px solid rgb(216, 216, 216);
    // background-color: #f9f7ff;
    align-items: center;
    border-radius: 5px;
  }

  figure {
    padding: 0 2rem 0 0;
    img {
      width: 100px;
      border-radius: 100px;
    }
  }

  .content {
    line-height: 1.4;
    padding: 0rem;
    h2 {
      margin-top: 0rem;
      line-height: 1.25;
      font-size: 1.4rem;
    }

    .meta-data {
      color: rgba(55, 55, 55, 0.9);
      date,
      span {
        font-size: 0.9rem;
        // color: rgb(109, 41, 119);
        font-weight: 500;
        margin-bottom: 3rem;
      }
      ul {
        display: flex;
        margin-top: 0.7rem;
        flex-wrap: wrap;
        // align-items:flex-end;
        li {
          line-height: 1.3;
          background-color: #501583;
          color: rgb(234, 234, 234);
          margin: 0 0.3rem 0.2rem 0;
          padding: 0.15rem 0.3rem;
          // align-items: flex-end;
          border-radius: 2px;
          font-size: 0.8rem;
        }
      }
    }
  }
}
