.blog-wrapper {
  :hover {
    background-color: rgb(242, 242, 242);

    cursor: pointer;

    h2 {
      text-decoration: underline;
    }
  }
  article {
    margin-bottom: 1.75rem;
    background-color: rgb(245, 245, 255);
  }

  .blog-item {
    display: flex;

    @media only screen and (max-width: 599px) {
      padding: 1rem;
      
      figure {
        padding-right: 1rem;
        img {
          width: 60px;
        }
      }
    }

    @media only screen and (min-width: 600px){
        padding:2rem;
    }
    // flex-wrap: wrap;
    padding: 2rem 2rem;
    border: 1px solid rgb(216, 216, 216);
    // background-color: #f9f7ff;
    align-items: center;
    border-radius: 5px;
  }

  figure {
    padding: 0 2rem 0 0;
    img {
      width: 100px;
      border-radius: 100px;
    }
  }

  .content {
    padding: 0rem;
    h2 {
      font-weight: 700;
      line-height: 1.3;
      a {
        color: #333;
        text-decoration: none;
      }

    }
    .meta-data {
      date,
      span {
        font-size: 0.9rem;
        color: rgb(109, 41, 119);
        font-weight: 400;
        margin-bottom: 1rem;
      }
      ul {
        display: flex;
        margin-top: 1rem;
        li {
          background-color: rgb(100, 43, 140);
          color: white;
          margin: 0 0.3rem 0 0;
          padding: 0.2rem 0.5rem;
          border-radius: 2px;
          font-size: 0.8rem;
        }
      }
    }
  }
}
