.blog-wrapper {
  :hover {
    background-color: rgb(242, 242, 242);
    cursor: pointer;
    h2 {
      color: #501583;
    }
  }

  a {
    color: #333;
    text-decoration: none;
  }

  article {
    margin-bottom: 1.75rem;
    background-color: rgb(245, 245, 255);
  }

  .blog-item {
    display: flex;
    align-items: flex-start;
    
    figure {
      width: 18%;
    }

    .content {
      width: 80%;
    }
    @media only screen and (max-width: 599px) {
      padding: 1rem 0.5rem;
      align-items: flex-start;
      figure {
        padding-right: 0.8rem;
      }
    }

    padding: 2rem;
    border: 1px solid rgb(216, 216, 216);

    border-radius: 5px;
  }

  figure {
    padding: 0 2rem 0 0;
    border-radius: 100%;
    img {
      // width: 100px;
      // border-radius:100% ;
    }
  }

  .content {
    line-height: 1.4;
    padding: 0rem;
    h2 {
      margin-top: 0rem;
    
      font-size: 1.3rem;
    }

    .meta-data {
      
      color: rgba(59, 9, 75, 0.9);
      date,
      span {
        font-size: 0.9rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 3rem;
      }
      ul {
        display: flex;
        margin-top: 0.7rem;
        flex-wrap: wrap;
        li {
          line-height: 1.3;
          background-color: #501583;
          color: rgb(234, 234, 234);
          margin: 0 0.3rem 0.2rem 0;
          padding: 0.15rem 0.3rem;
          border-radius: 2px;
          font-size: 0.8rem;
        }
      }
    }
  }
}
