.contactFormWrap {
  .form-row {
    margin-top: 2rem;
  }
  input,
  textarea {
    width: 100%;
  }

  input,
  textarea {
    font-size: 0.9rem !important;
  }

  button[type="submit"] {
    font-size: 0.9rem;
    text-transform: uppercase;
    border: none;

    &:hover {
      background-color: #4d1b6d;
      color: #fff;
    }

    @media (max-width: 600px) {
      width: 100%;
    }
  }
}
