.content-section {
  background-color: rgb(246, 242, 250);
  width: 100%;
  position: relative;
  @media only screen and (max-width: 599px) {
    // margin-top: 25px;
  }
}
.content {
  padding: 1rem;
  background-color: white;
  width: 100%;
  border: 1px solid rgb(235, 233, 233);
  min-height: 50rem;
  line-height: 1.6;
  font-weight: 400;
  p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    text-align: justify;
    line-height: 1.9;
  }
  @media (max-width: 599px) {
    padding: 1.5rem;
  }
}

.content img {
  border: 1px solid rgb(110, 110, 116);
  box-shadow: 1px 1px 5px rgb(101, 100, 100);
}

.content-section input[type="text"] {
  width: 100%;
  padding: 1.2rem;
  // margin-top:-4rem;
  border-radius: 10px;
  font-size: 1.2rem;
  // background-color: #c7c7c7;
  margin-bottom: 2rem;
  border: 1px solid rgb(230, 228, 228);
}

.content h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: rgb(68, 67, 67);
  @media only screen and (max-width: 599px) {
    font-size: 1.75rem;
  }
}

// / Media Queries------------------------------------------------
@media only screen and (max-width: 599px) {
  .content p {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 961px) {
  .content {
    width: 960px;
    margin: -6rem auto 10rem;
    padding: 6rem 8rem;
  }
}

@media only screen and (min-width: 1180px) {
  .content {
    width: 1180px;
    padding: 8rem 12rem;
    // box-shadow:1px 1px 3px rgb(44, 43, 43);
  }
}
