.content-section {
  background-color: rgb(250, 248, 242);
  width: 100%;
  position: relative;
  @media only screen and (max-width: 599px) {
  }
}
.content {
  background-color: white;
  width: 100%;
  border: 1px solid rgb(235, 233, 233);
  line-height: 1.8;
  font-weight: 400;
  color: #333;
  font-size: 1.125rem;

  p {
    margin-bottom: 1.4rem;
  }

  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 2.1rem;
    margin-bottom: 1rem;
    line-height: 1.4;

    @media only screen and (max-width: 599px) {
      font-size: 1.8rem;
    }
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700 !important;
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
    margin-top: 2.5rem;
    @media only screen and (max-width: 599px) {
      font-size: 1.5rem;
    }
  }

  h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
    margin-top: 2rem;
    @media only screen and (max-width: 599px) {
      font-size: 1.3rem;
    }
  }

  h4 {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    // font-style: italic;
    margin-bottom: 0.3rem;
    margin-top: 2rem;
    @media only screen and (max-width: 599px) {
      font-size: 1.2rem;
    }
  }

  h5 {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    margin-top: 2rem;
    @media only screen and (max-width: 599px) {
      font-size: 1.1rem;
    }
  }

  @media (max-width: 960px) {
    padding: 2.5rem 1.2rem 2.5rem;
    // margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid rgb(194, 194, 194);
  }
}

.content a {
  color: #5c257f;
  text-decoration: underline;
  font-weight: 600;
}

.content-button {
  text-decoration: none;
}

.content a:hover {
  text-decoration: none;
}

// / Media Queries------------------------------------------------
@media only screen and (max-width: 599px) {
  .content p {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 600px) {
  .content {
    padding: 4rem 3rem;
  }
}

@media only screen and (min-width: 961px) {
  .content {
    width: 960px;
    margin: -6rem auto 10rem;
    padding: 6rem 9rem;
  }
}

@media only screen and (min-width: 1120px) {
  .content {
    width: 1120px;
    padding: 9rem 12rem;
  }
}
