.main-footer {
  background-color: #5c257f;
  color: rgb(231, 222, 236);
  // display: flex;
  width: 100%;
  background: rgb(92, 37, 127);
  background: linear-gradient(
    77deg,
    rgba(92, 37, 127, 1) 9%,
    rgba(26, 116, 173, 1) 100%
  );
}

.footer-content {
  padding: 2.5rem;
  text-align: center;
  line-height: 1.88;

  hr {
    width: 400px;
  }
  .social-media-lists {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    // padding-bottom:.8rem;
    // border-bottom:1px solid rgb(140, 140, 140);
  }
  .nav-list {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 600;
    flex-wrap: wrap;
    margin-bottom: 0.4rem;
  }

  li {
    margin: 0rem 0.5rem;
    text-transform: uppercase;

    :first-child {
      margin-left: 0;
    }
    :last-child {
      margin-left: 0;
      margin-right: 0rem;
    }

    .activeList {
      color: #d4ab52;
    }

    a:hover {
      color: #e8e8e8;
    }
  }
}

// Media Queries------------------------------------------------
@media only screen and (max-width: 599px) {
}

@media only screen and (min-width: 961px) {
  .footer-content {
    width: 960px;
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (min-width: 1100px) {
  .footer-content {
    width: 1100px;
    margin: 0 auto;
  }
}
