.header{
    padding:1rem 0 3rem;
}

.nav-item {
    color:#999999;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover{
    color:#666666;
}

.title{
    color:#000000;
    font-size:3rem;
    text-decoration:none;
}

.nav-list{
    display:flex;
    list-style-type: none;
    margin:0;

}

.active-nav-item{
    color: #333333;
}