@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Parisienne|Roboto+Condensed:300,300i,400,700&display=swap');

.header{
    padding:1rem 0 1rem;
    border-bottom:1px solid rgb(229, 228, 230);
    margin-bottom:3rem;
}


.nav-item {
    color:#0D0D0D;
    font-size: 1.2rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover{
    color:#666666;
}

.title{
    color:#0D0D0D;
    font-size:2.2rem;
    font-family: 'Parisienne', cursive;
    text-decoration:none;
}

.title-alternate{
    color:#BFB304;
    font-weight: 100;
}

.nav-list{
    display:flex;
    list-style-type: none;
    margin:0;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
}

.active-nav-item{
    color: #666666;
    // background-color:rgb(247, 245, 245);
    padding-bottom: 5px;
    border-bottom:2px solid #BFB304;
}