.main-header {
  color: rgb(231, 222, 236);
  width: 100%;
  position: absolute;
  z-index: 2;
  @media (max-width: 767px) {
  }
}

.header-content {
  display: flex;
  padding: 1rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 991px) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.logo-section {
  flex: auto;
}

.title {
  font-size: 2rem;
  font-family: "Parisienne", cursive;
  font-weight: 500;
  margin-right: 1rem;
  display: flex;
}

.main-header h1 {
  font-size: 2rem;
}

.main-header a {
  &:hover {
    color: rgb(136, 216, 109);  
    // text-decoration:underline;
  }
}

.main-header h1 a:hover {
  color: rgb(211, 209, 211);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  @media (max-width: 567px) {
    letter-spacing: 0.02rem;
  }
}

.nav-list li {
  margin: 0rem 0.5rem;
  text-transform: uppercase;
  justify-content: space-between;
}

.activeList {
  color: rgb(136, 216, 109);
}

.nav-list li:first-child {
  margin-left: 0;
}
.nav-list li:last-child {
  margin-left: 0;
  margin-right: 0rem;
}

.social-media-lists {
  display: flex;
  padding: 0.4rem 0.5rem 0;
  border: 1px solid rgba(231, 222, 236, 0.3);
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.9rem;
  font-weight: 400;
  a {
    &:hover {
      color: rgb(136, 216, 109);
    }
  }
  li {
    margin: 0rem 0.3rem;
    justify-content: space-between;
    a {
      display: inline-flex;
    }
  }
}
// Media Queries -------------------------

@media only screen and (max-width: 599px) {
  .main-header {
    background-color: #5c257f;
    position: relative;
  }

  .header-content {
    flex-direction: column;
  }
  .nav-list {
    justify-content:center;
    margin-top: 0.4rem;
  }

  .nav-list li {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0 0.4rem;
    margin: 0px;
    // background-color: red;
  }

  .social-media-lists {
    margin-top: 0.5rem;
  }

  .social-media-lists li {
    font-size: 1.3rem;
    font-weight: 500;
  }
}

@media only screen and (max-width: 600px) {
  .header-content {
    padding: 1.5rem 1rem;
  }
}

@media only screen and (min-width: 961px) {
  .header-content {
    width: 960px;
    margin: 0 auto;
    padding-top: 2rem;
  }
}

@media only screen and (min-width: 1140px) {
  .header-content {
    width: 1140px;
    padding-top: 2rem;
    margin: 0 auto;
  }
}
