.intro-section {
  justify-content: center;
  background-color: #5c257f;
  color: rgb(231, 222, 236);
  display: flex;
  width: 100%;
}

.intro-content {
  text-align: center;
  padding: 1rem;
}

.heading-light {
  font-family: "Source Sans Pro", sans-serif;

  font-size: 1.1rem;

  font-weight: 500 !important;
  line-height: 1.25;
  padding: 45px 15px;
}

@media only screen and (min-width: 600px) and (max-width: 960px) {
  .intro-content {
    height: 12rem;
    padding-top: 6rem;
  }
}

@media only screen and (max-width: 599px) {
  .intro-content {
    padding: 0;
    .heading-light {
      padding: 0.5rem 0 2.2rem;
    }
  }
}
@media only screen and (min-width: 961px) {
  .intro-content {
    width: 960px;
    margin: 0 auto;
    height: 22rem;
    
  }
}

@media only screen and (min-width: 1200px) {
  .intro-content {
    width: 1200px;
    margin: 0 auto;
  }
}
