.intro-section {
  justify-content: center;
  background-color: #5c257f;
  color: rgb(231, 222, 236);
  display: flex;
  width: 100%;
}



.intro-content {
  text-align: center;
  // height: auto;
  padding: 1rem;
}

.heading-light {
  font-family: "Lora", sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 200 !important;
  line-height: 1.25;
  padding: 45px 15px;
}

@media only screen and (min-width: 599px) and (max-width: 960px) {
  .intro-content {
    height: 8rem;
    height: 15rem;
    padding-top: 7rem;
  }
}
@media only screen and (min-width: 961px) {
  .intro-content {
    width: 960px;
    margin: 0 auto;
    height: 20rem;
    padding-top: 6rem;
  }
}

@media only screen and (min-width: 1200px) {
  .intro-content {
    width: 1200px;
    margin: 0 auto;
  }
}
