@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Parisienne|Roboto+Condensed:300,300i,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Raleway:100,200,300,400,500,700,800&display=swap');

.container{
    margin:0 auto;
    max-width: 700px;
    padding: 1rem;

    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{

    flex-grow: 1;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    // font-size: 1rem;
    font-weight: 400;

}

img{
    border-radius:150px;
    max-width: 150px;
    min-width: 100px;
}