.wrapper {
  // background-color:red;

  input[type="email"] {
    // background-color:red;
    min-width: 350px;
    font-size: 0.9rem;

    @media (max-width: 567px) {
      width: 320px;
    }
    @media (max-width: 370px) {
      width: 280px;
    }
  }

  svg {
    display: inline-block;
    margin-left: 1rem;
    color: #5c257f;
  }
  button {
    font-size: 0.9rem;
    background-color: #5c257f;
    color: white;
    letter-spacing: 1px;
    line-height: 0;
    text-transform: uppercase;
    margin-top: 0.2rem;
    padding: 1.4rem 1rem;
    border-radius: 3px;
    margin-left: 0.3rem;

    &:hover {
      background-color: #4d1b6d;
    }
  }

  .note {
    font-size: 0.9rem;
    // color:#5c257f;
  }
}
