
.wrapper {
  background-color:rgb(133, 132, 132);
  border-top:1px dashed white;
  padding:2rem;
  border:1px solid rgb(179, 177, 177);
  color:#333;
  line-height: 1;
  text-align: center;
  background-image: url('../images/double-bubble.png');

  input[type="email"] {
    width: 450px;
    max-width: 100%;
    font-size:.9rem;
    padding-right: 120px;
    color:#5c257f;
    @media (max-width: 567px) {
      width: 320px;
    }
    @media (max-width: 370px) {
      width: 280px;
    }
  }

  button{
    font-size:.9rem;
    background-color:#5c257f;
    color:white;
    letter-spacing: 1px;
    line-height:0;
    text-transform:uppercase;
    margin-top:.2rem;
    padding:1.4rem 1rem;
    border-radius:3px;
    border:none;
    margin-left:.3rem;

    &:hover{
        background-color:#4d1b6d;
    }
}
 
}
