.project-section{
    background-color:rgb(246, 242, 250);
    width: 100%;
}
.project-content{
    padding:2.5rem;
    background-color:white;
    width: 100%;
    border:1px solid rgb(235, 233, 233);
}

.project-content>p{
    font-size:1.2rem;
    margin-bottom: 2rem;
} 

.project-content h1{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size:2rem;
}

.project{
    padding:1.5rem;
    margin-bottom:1rem;
    background-color: rgba(225, 205, 238, 0.126);
    border:1px solid rgb(218, 215, 215);
    /* transition: all 0.3s ease; */
    // text-align: justify;
}

/* .project:hover{
    background-color: rgba(119, 62, 155, 0.208);
} */

.project p{
    font-weight: 400;
    margin-top: 1rem;
}

.project>a{
    font-family: 'Roboto', sans-serif;
    font-size:1.2rem;
    font-weight:600;
    /* font-style: italic; */
}

.project a{
    text-decoration: underline;
}
.project a:hover{
    color:rgb(219, 148, 60);
}

.projects .btn{
    border:1px solid black;
}


.project .project-meta ul {
    margin-top:.5rem;
    display: flex;
    font-size:.7rem;
    font-weight: 500;
    justify-content: flex-start;
    color:#5C257F;
    flex-wrap: wrap;
}


.project .project-meta ul li{
    background-color: rgb(236, 235, 238);
    margin-right: .5rem;
    margin-top:.5rem;
    padding:.1rem .2rem;
    border-radius: 3px;
}




.box-button{ 
    // background-color:black;
    padding:0.8rem 2rem;
    display:inline-block;
    text-decoration: none;
    color:inherit;
    text-transform: uppercase;
    font-weight: 400;
    border-radius:2px;
    transition: all 0.3s ease;
    border:1px solid black;
}


.projects .box-button:hover{
    background-color:black;
    color:white;
}




// Media Queries------------------------------------------------


@media only screen and (max-width: 599px) {
    .project-section h1{
        font-size:2rem;
    }
    .projects {
        display: block;
    }
    .project {
        width:100%;
    }
}

@media only screen and (min-width: 961px) {
    .project-content{
        width:960px;
        margin:0 auto;
        margin-top:-100px;
        padding:8rem;
    }
    
    .projects{
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }
    .project{
        width:49%;
    }
}

@media only screen and (min-width: 1200px){
    .project-content{
        width:1200px;
        margin:0 auto;
        margin-top:-100px;
    }
}
