@-webkit-keyframes arrowMove {
  0% {
    right: 0px;
  }
  50% {
    right: -5px;
  }
  100% {
    right: 0px;
  }
}
@keyframes arrowMove {
  0% {
    right: 0px;
  }
  50% {
    right: -5px;
  }
  100% {
    right: 0px;
  }
}

.projects {
  // background-color:red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1.5;

  @media (max-width: 500px) {
    flex-direction: column;

    .project-item {
      width: 100% !important;
    }
  }
  .project-item {
    // background-color:green;
    background-color: #f5f5ff;

    // background: rgb(185,187,240);
    // background: linear-gradient(90deg, rgba(185,187,240,1) 0%, rgba(207,211,240,1) 85%);
    // border-top-radius: 2px;
    width: 48%;
    // padding:.8rem .8rem;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
    // box-shadow:1px 2px 5px 2px rgb(188, 184, 184);
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .image-wrapper {
      padding: 0.5rem;
      border-bottom: 1px solid rgb(182, 177, 177);
      img {
        border-radius: 5px;
        // border:1px solid rgb(199, 195, 195);
      }
    }
    .content-wrapper {
      // height:12rem;
      padding: 0.8rem 0.8rem;
      border-radius: 5px;
    }

    h2 {
      font-family: "Roboto", sans-serif;
      font-size: 1.25rem !important;
      text-transform: capitalize;
      color: #333;
      font-weight: 600 !important;
      line-height: 1.3;
      margin-top: 0rem !important;
      margin-bottom: 5px !important;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
    }

    .tools-wrapper {
      // border-top:1px solid rgb(106, 105, 105);
      // border-bottom:1px solid rgb(133, 131, 131);
      // background-color:rgb(196, 196, 196);
      display: flex;
      flex-wrap: wrap;
      font-size: 0.7rem;
      font-weight: 500;
      justify-content: flex-start;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      li {
        margin-right: 0.5rem;
        background-color: rgb(57, 55, 59);
        margin-top: 0.5rem;
        color: #ffffff;
        padding: 0.1rem 0.5rem;
        border-radius: 3px;
      }
      img {
        width: 30px;
      }
      // border:1px solid rgb(179, 179, 179)}
    }

    .links-wrapper {
      // background-color:rgb(98, 97, 99);
      color: rgb(57, 53, 53);
      padding: 1rem 1rem;
      a {
        // color:white;
        text-decoration: none;
        padding: 0.6rem 0.8rem;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
        border: 1px solid rgb(199, 199, 199);

        i {
          font-style: normal;
          position: relative;
          top: 3px;
        }
        &:hover {
          i {
            -webkit-animation: arrowMove 1.25s infinite;
            animation: arrowMove 1.25s infinite;
          }
          background-color: #501583;
          color: #fff !important;
        }
      }
    }
  }
}
