@-webkit-keyframes arrowMove {
  0% {
    right: 0px;
  }
  50% {
    right: -5px;
  }
  100% {
    right: 0px;
  }
}
@keyframes arrowMove {
  0% {
    right: 0px;
  }
  50% {
    right: -5px;
  }
  100% {
    right: 0px;
  }
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -2rem;
  @media (max-width: 767px) {
    margin: 0 -1.5rem;
  }
  @media (max-width: 567px) {
    margin: 0 -15px;
  }
}
.project {
  margin-bottom: 2rem;
  max-width: 500px;
  width: 50%;
  padding: 0 2rem;
  .project-item {
    background-color: rgba(232, 217, 242, 0.126);
    border: 1px solid rgb(234, 234, 234);
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      width: 25px;
      height: 25px;
      position: absolute;
      right: 15px;
      bottom: 15px;
      background-color: rgba(92, 37, 127, 1);
      border-radius: 50%;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      @media (max-width: 767px) {
        background-color: rgba(92, 37, 127, 0.95);
        -webkit-transform: scale(23);
        -ms-transform: scale(23);
        transform: scale(23);
      }
      @media (max-width: 567px) {
        -webkit-transform: scale(27);
        -ms-transform: scale(27);
        transform: scale(27);
      }
    }
    &:hover {
      .project-meta,
      figcaption {
        opacity: 1;
      }
      @media (min-width: 768px) {
        &::after {
          background-color: rgba(92, 37, 127, 0.95);
          -webkit-transform: scale(32);
          -ms-transform: scale(32);
          transform: scale(32);
        }
      }
      .project-content {
        color: #fff;
      }
      @media (max-width: 1199px) {
        &::after {
          background-color: rgba(92, 37, 127, 0.95);
          -webkit-transform: scale(23);
          -ms-transform: scale(23);
          transform: scale(23);
        }
      }
    }
  }
  figure {
    position: relative;
    img {
      max-width: 100%;
    }
    .project-meta {
      position: absolute;
      left: 2rem;
      right: 2rem;
      top: 15px;
      opacity: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      z-index: 1;
    }
    figcaption {
      position: absolute;
      right: 2rem;
      left: 2rem;
      bottom: 30px;
      opacity: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      z-index: 1;
      a {
        font-size: 1.2rem;
        font-weight: 700;
        color: #fff !important;
        border-color: #fff !important;
        background-color: transparent !important;
        i {
          -webkit-animation: arrowMove 1.25s infinite;
          animation: arrowMove 1.25s infinite;
          font-style: normal;
          position: relative;
          top: 3px;
        }
        &:hover {
          color: #fff !important;
        }
      }
    }
    @media (max-width: 991px) {
      figcaption {
        a {
          font-size: 1rem;
        }
      }
    }
    @media (max-width: 767px) {
      .project-meta,
      figcaption {
        opacity: 1;
      }
    }
    @media (max-width: 699px) {
      // width: 50%;
    }
  }
  .project-content {
    padding: 1.25rem 2rem;
    position: relative;
    z-index: 1;
  }
  h3 {
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 5px;
    @media (max-width: 991px) {
      font-size: 1.25rem;
    }
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  p {
    margin-bottom: 1rem;
  }
  .btn {
    border: 1px solid black;
  }
  .project-meta ul {
    display: flex;
    font-size: 0.7rem;
    font-weight: 500;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    flex-wrap: wrap;
    li {
      background-color: rgb(236, 235, 238);
      margin-right: 0.5rem;
      margin-top: 0.5rem;
      padding: 0.1rem 0.5rem;
      border-radius: 3px;
    }
  }
  .small-paragraph {
    font-size: 0.9rem;
    font-style: italic;
  }
  @media (max-width: 991px) {
    padding: 0 1.5rem;
  }
  @media (max-width: 767px) {
    .project-content {
      color: #fff;
    }
  }
  @media (max-width: 567px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.box-button {
  padding: 0.8rem 2rem;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 2px;
  transition: all 0.3s ease;
  border: 1px solid black;
}

.projects .box-button:hover {
  background-color: black;
  color: white;
}

// Media Queries------------------------------------------------

@media only screen and (max-width: 599px) {
  .projects {
    display: block;
  }
  .project {
    max-width: 100%;
    // padding: 25px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1200px) {
}
