
.welcome-section{
    justify-content:center;
    background-color:#5C257F;
    color:rgb(231, 222, 236);
    display: flex;
    width:100%;

}
.welcome-content{
    text-align: center;
    padding:5rem 2.5rem 2.5rem;
}

.image{
    width:150px;
    border-radius: 150px;
    border:1px dotted white;
}

.heading{
    font-family: 'Roboto', sans-serif;
    // font-family: 'Source Sans Pro', sans-serif;
    font-size:4rem;
    font-weight: 600;
    padding:1.5rem 0 0rem;
    /* background-color: black; */
}

.heading-light {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:4rem;
    font-weight: 100;
}

.paragraph{
    font-size:1.3rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.welcome-button{ 
    border:1px solid rgb(231, 222, 236);
    padding:0.8rem 2rem;
    display:inline-block;
    text-decoration: none;
    color:inherit;
    text-transform: uppercase;
    font-weight: 400;
    border-radius:2px;
    transition: all 0.3s ease;
}

.welcome-button:hover{
    background-color:rgb(231, 222, 236);
    color:#5c257f;
}


.particles{
    position: absolute;
    z-index: 0;
    top:10;
    left:0;
    right:0;
    height:20rem;
}

@media only screen and (max-width: 599px) {
    // .welcome-section{
    //     height:80vh;
    // }    
    .heading{
        font-size:3rem;
    }
    .particles{
        display: none;
    }
    .welcome-content{
        padding-top:2.5rem;
    }
}

@media only screen and (min-width: 961px) {
    .welcome-section{
        padding-bottom: 9rem;
    }
    .welcome-content{
        width:960px;
        margin:0 auto;
    }
}

@media only screen and (min-width: 1200px){
    .welcome-content{
        width:1200px;
        margin:0 auto;
    }
}


