.welcome-section {
  justify-content: center;
  background-color: #5c257f;
  color: rgb(231, 222, 236);
  width: 100vw;
  position: relative;
  background: rgb(92, 37, 127);
  background: linear-gradient(77deg, #5c257f 9%, rgba(26, 116, 173, 1) 100%);
}
.welcome-content {
  padding: 9rem 0rem 10rem;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
  position: relative;
  // text-align: center;

  .about-intro {
    width: 52%;
    // padding-left:.5rem;

    .calltoaction-wrapper {
      display: flex;
      flex-wrap: wrap;
      // background-color: red;
      justify-content: flex-start;
    }
    // Social Media list
  }

  .subscription {
    width: 45%;
    background-color: rgba(0, 0, 0, 0.057);
    text-align: center;
    padding: 0.8rem 0.8rem;

    h2 {
      font-size: 1.3rem;
      font-weight: 700;
    }

    .image-holder img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
    .image-holder span {
      display: inline-block;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #fff;
      padding: 5px;
      width: 120px;
      height: 120px;
    }

    .subscribe-button {
      background-color: rgb(227, 226, 224);
      // border:1px solid white;
      text-transform: uppercase;
      padding: 0.5rem 2.5rem;
      color: black;
      display: inline-block;
      vertical-align: middle;
      margin: 1rem auto;

      svg {
        display: inline-block;
      }
      &:hover {
        // background-color: rgb(179, 179, 179);
        color: #5c257f;
      }
    }
  }
}

.heading {
  font-family: 'Roboto', sans-serif;
  // font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
  @media (max-width: 1200px) {
    font-size: 3rem;
  }
  @media (max-width: 991px) {
    font-size: 2.5rem;
  }
  @media (max-width: 567px) {
    font-size: 2rem;
    line-height: 1.5;
    span {
      display: block;
    }
  }
}

.heading-light {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4rem;
  font-weight: 100;
}

.paragraph {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: rgb(223, 217, 228);
}

.welcome-button {
  border: 1px solid rgb(231, 222, 236);
  padding: 0.5rem 1rem;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-bottom: 0.2rem;
  margin-right: 0.4rem;
  border-radius: 3px;
  display: flex;
  // width:48%;
  // flex-wrap: wrap;
  align-items: center;
  svg {
    margin-top: 0.2rem;
  }
}

.welcome-button:hover {
  background-color: rgb(231, 222, 236);
  color: #5c257f;
}

.particles {
  position: absolute;
  display: none;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

@media only screen and (max-width: 599px) {
  .welcome-section {
    height: auto;
    background: rgb(26, 116, 173);
    background: radial-gradient(
      circle,
      rgba(26, 116, 173, 1) 0%,
      rgba(92, 37, 127, 1) 100%
    );
  }
  .particles {
    display: none;
  }
  .welcome-content {
    padding: 12rem 1.6rem 3.5rem;
    // display: block;
    flex-direction: column;

    // background-color: #5c257f;

    .about-intro {
      width: 100%;
      text-align: center;
      margin: 0 auto;
      order: 2;

      .calltoaction-wrapper {
        justify-content: center;
      }
    }
    .subscription {
      width: 100%;
      order: 1;
      background-color: rgba(47, 48, 46, 0.29);
      background: none;
      .image-holder h2,
      p,
      .subscribe-button {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .welcome-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (min-width: 961px) {
  // .welcome-section{
  //     // padding-bottom: 9rem;
  // }
  .welcome-content {
    width: 960px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (min-width: 1120px) {
  .welcome-content {
    width: 1120px;

    margin: 0 auto;
  }
}
