.welcome-section {
  justify-content: center;
  background-color: #5c257f;
  color: rgb(231, 222, 236);
  width: 100vw;
  position: relative;
  background: rgb(92,37,127);
background: linear-gradient(77deg, rgba(92,37,127,1) 9%, rgba(26,116,173,1) 100%);
  
}
.welcome-content {
  padding: 10rem 0rem 12rem;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  position: relative;
  // text-align: center;

  .about-intro{
    width:60%;
    // padding-left:.5rem;
  }
}

.image-holder img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.image-holder span {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #fff;
  padding: 5px;
  width: 120px;
  height: 120px;
}

.heading {
  font-family: "Roboto", sans-serif;
  // font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  @media (max-width: 1200px) {
    font-size: 3rem;
  }
  @media (max-width: 991px) {
    font-size: 2.5rem;
  }
  @media (max-width: 567px) {
    font-size: 2rem;
    line-height: 1.5;
    span {
      display: block;
    }
  }
}

.heading-light {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4rem;
  font-weight: 100;
}

.paragraph {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  color:rgb(223, 217, 228);  
  @media (max-width: 991px) {
    font-size: 1.1rem;
  }
}

.welcome-button {
  border: 1px solid rgb(231, 222, 236);
  padding: 0.5rem 2rem;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.welcome-button:hover {
  background-color: rgb(231, 222, 236);
  color: #5c257f;
}

.particles {
  position: absolute;
  display:none;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

@media only screen and (max-width: 599px) {
  .welcome-section {
    height: auto;
  }
  .particles {
    display: none;
  }
  .welcome-content {
    padding: 4rem 0 3.5rem;
  }
}

@media only screen and (min-width: 961px) {
  // .welcome-section{
  //     // padding-bottom: 9rem;
  // }
  .welcome-content {
    width: 960px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1100px) {
  .welcome-content {
    width: 1100px;
    margin: 0 auto;
  }
}
