.contactFormWrap {
  .form-row {
    margin-top: 2rem;
  }
  input,
  textarea {
    width: 100%;
  }

  input,
  textarea {
    font-size: 0.9rem !important;
  }

  textarea {
    font-family: inherit;
    font-size: inherit;
  }

  button[type='submit'] {
    font-size: 0.9rem;
    text-transform: uppercase;
    border: none;
    padding: 0.8rem 2rem;

    &:hover {
      background-color: #4d1b6d;
      color: #fff;
    }
  }
}
