.buymecoffee-wrapper{

    a {
        background-color:#381d4a;
        // border:1px solid white;
        padding: 10px 12px;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        font-weight: 600;
        width:auto;

        
      }

      a:hover {
        background-color:#5c257f;
        // color:#333;
      }



      img{
          height: auto;
          width:20px;
          margin-right: .2rem;

      }

}
