.wrapper {
  .social-media-lists {
    display: flex;
    padding: 0.4rem 0.5rem 0;
    // border: 1px solid rgba(231, 222, 236, 0.3);
    justify-content: flex-start;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-weight: 400;
    a {
      // background-color:white;
      // border:1px solid rgb(199, 149, 43);;
      // border-radius:100%;
      // color:rgb(199, 149, 43);
      // padding:.4rem;
      &:hover {
        color: #d0fd9b;
      }
    }
    li {
      margin: 0rem;
      margin-right: 0.6rem;

      a {
        display: inline-flex;
      }
    }
  }

  @media only screen and (max-width: 599px) {
    .social-media-lists {
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
    }
  }
}
