name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 21
    - name: Install dependencies
      run: npm install -g yarn && yarn
    - name: Install Playwright Browsers
      run: yarn playwright install --with-deps
    
    - name: Wait for Netlify deployment
      uses: jakejarvis/wait-for-netlify-action@v2
      id: netlify
      with:
        site_id: ${{ secrets.NETLIFY_SITE_ID }}
      env:
        NETLIFY_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
    
    - name: Run Playwright tests against preview
      run: yarn playwright test
      env:
        PLAYWRIGHT_TEST_BASE_URL: ${{ steps.netlify.outputs.url }}
    
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
